body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
    display: flex;
    flex-direction: row;
    margin: 12px 12px 12px 0px;
}

.arrow-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

.arrow-vertical-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2px;
}

.arrow-right {
    width: 0; 
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #36454f;
}

.arrow-right:hover {
    width: 0; 
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #58677f;
    transform: scale(1.1, 1.1);
}

.arrow-right:active {
    width: 0; 
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid yellowgreen;
    transform: scale(0.8, 0.8);
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #36454f;
    margin-bottom: 2px;
}

.arrow-up:hover {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #58677f;
    margin-bottom: 2px;
    transform: scale(1.1, 1.1);
}

.arrow-up:active {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid yellowgreen;
    margin-bottom: 2px;
    transform: scale(0.8, 0.8);
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #36454f;
    margin-top: 2px;
}

.arrow-down:hover {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #58677f;
    margin-top: 2px;
    transform: scale(1.1, 1.1);
}

.arrow-down:active {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid yellowgreen;
    transform: scale(0.8, 0.8);
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(16, 48px);
    justify-items: stretch;
    align-items: stretch;
}

.text-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    padding-top: 12px;
}

.bottom-line {
    border-bottom: 2px solid #36454f;
}

.right-line {
    border-right: 2px solid #36454f;
}

.top-line {
    border-top: 2px solid #36454f;
}

.left-line {
    border-left: 2px solid #36454f;
}

/********* Row 0 ********/
#no-no {
    grid-row: 1;
    grid-column: 1;
}

#no-one {
    grid-row: 1;
    grid-column: 2;
}

#no-two {
    grid-row: 1;
    grid-column: 3;
}

#no-three {
    grid-row: 1;
    grid-column: 4;
}

/********* Row 1 ********/
#one-no {
    grid-row: 2;
    grid-column: 1;
}

#one-one {
    grid-row: 2;
    grid-column: 2;
}

#one-two {
    grid-row: 2;
    grid-column: 3;
}

#one-three {
    grid-row: 2;
    grid-column: 4;
}

/********* Row 2 ********/
#two-no {
    grid-row: 3;
    grid-column: 1;
}

#two-one {
    grid-row: 3;
    grid-column: 2;
}

#two-two {
    grid-row: 3;
    grid-column: 3;
}

#two-three {
    grid-row: 3;
    grid-column: 4;
}

/********* Row 3 ********/
#three-no {
    grid-row: 4;
    grid-column: 1;
}

#three-one {
    grid-row: 4;
    grid-column: 2;
}

#three-two {
    grid-row: 4;
    grid-column: 3;
}

#three-three {
    grid-row: 4;
    grid-column: 4;
}

/********* Row 4 ********/
#four-no {
    grid-row: 5;
    grid-column: 1;
}

#four-one {
    grid-row: 5;
    grid-column: 2;
}

#four-two {
    grid-row: 5;
    grid-column: 3;
}

#four-three {
    grid-row: 5;
    grid-column: 4;
}

/********* Row 5 ********/
#five-no {
    grid-row: 6;
    grid-column: 1;
}

#five-one {
    grid-row: 6;
    grid-column: 2;
}

#five-two {
    grid-row: 6;
    grid-column: 3;
}

#five-three {
    grid-row: 6;
    grid-column: 4;
}

/********* Row 6 ********/
#six-no {
    grid-row: 7;
    grid-column: 1;
}

#six-one {
    grid-row: 7;
    grid-column: 2;
}

#six-two {
    grid-row: 7;
    grid-column: 3;
}

#six-three {
    grid-row: 7;
    grid-column: 4;
}

/********* Row 7 ********/
#seven-no {
    grid-row: 8;
    grid-column: 1;
}

#seven-one {
    grid-row: 8;
    grid-column: 2;
}

#seven-two {
    grid-row: 8;
    grid-column: 3;
}

#seven-three {
    grid-row: 8;
    grid-column: 4;
}

/********* Row 8 ********/
#eight-no {
    grid-row: 9;
    grid-column: 1;
}

#eight-one {
    grid-row: 9;
    grid-column: 2;
}

#eight-two {
    grid-row: 9;
    grid-column: 3;
}

#eight-three {
    grid-row: 9;
    grid-column: 4;
}

/********* Row 9 ********/
#nine-no {
    grid-row: 10;
    grid-column: 1;
}

#nine-one {
    grid-row: 10;
    grid-column: 2;
}

#nine-two {
    grid-row: 10;
    grid-column: 3;
}

#nine-three {
    grid-row: 10;
    grid-column: 4;
}

/********* Row 10 ********/
#ten-no {
    grid-row: 11;
    grid-column: 1;
}

#ten-one {
    grid-row: 11;
    grid-column: 2;
}

#ten-two {
    grid-row: 11;
    grid-column: 3;
}

#ten-three {
    grid-row: 11;
    grid-column: 4;
}

/********* Row 11 ********/
#eleven-no {
    grid-row: 12;
    grid-column: 1;
}

#eleven-one {
    grid-row: 12;
    grid-column: 2;
}

#eleven-two {
    grid-row: 12;
    grid-column: 3;
}

#eleven-three {
    grid-row: 12;
    grid-column: 4;
}

/********* Row 12 ********/
#twelve-no {
    grid-row: 13;
    grid-column: 1;
}

#twelve-one {
    grid-row: 13;
    grid-column: 2;
}

#twelve-two {
    grid-row: 13;
    grid-column: 3;
}

#twelve-three {
    grid-row: 13;
    grid-column: 4;
}

/********* Row 13 ********/
#thirteen-no {
    grid-row: 14;
    grid-column: 1;
}

#thirteen-one {
    grid-row: 14;
    grid-column: 2;
}

#thirteen-two {
    grid-row: 14;
    grid-column: 3;
}

#thirteen-three {
    grid-row: 14;
    grid-column: 4;
}

/********* Row 14 ********/
#fourteen-no {
    grid-row: 15;
    grid-column: 1;
}

#fourteen-one {
    grid-row: 15;
    grid-column: 2;
}

#fourteen-two {
    grid-row: 15;
    grid-column: 3;
}

#fourteen-three {
    grid-row: 15;
    grid-column: 4;
}

/********* Row 15 ********/
#fifteen-no {
    grid-row: 16;
    grid-column: 1;
}

#fifteen-one {
    grid-row: 16;
    grid-column: 2;
}

#fifteen-two {
    grid-row: 16;
    grid-column: 3;
}

#fifteen-three {
    grid-row: 16;
    grid-column: 4;
}
